[submodule "test_data"]
	path = test_data
	url = https://github.com/filetrust/cdr-plugin-folder-to-folder-test-data.git
[submodule "cdr-plugin-f2f-automation-tests"]
	path = cdr-plugin-f2f-automation-tests
	url = https://github.com/filetrust/cdr-plugin-f2f-automation-tests
