[submodule "test_data"]
	path = test_data
	url = https://github.com/filetrust/cdr-plugin-folder-to-folder-test-data.git
[submodule "website/hugo-theme-learn"]
	path = website/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
