
.MuiCard-root {
  position: relative;
  margin-bottom: 30px;
}
.card-holder {
  -webkit-box-shadow: 4px 5px 13px #e1e1e3, -5px -5px 17px #ffffff;
  box-shadow: 4px 5px 13px #e1e1e3, -5px -5px 17px #ffffff;
  position: relative;
  display: block;
  width: 100%;
  padding: 25px 25px;
  border-radius: 8px;
  background: #fff;
  margin: 0 0 30px 0;
}
.clear {
clear: both;
}
h3.heading-title {
  font-size: 24px;
  font-weight: 500;
  color: #0c3451;
  letter-spacing: .2px;
  margin: 10px 0 15px 0;
}
button#reloadBtn {
position: absolute;
right: 10px;
top: 5px;
background: transparent;
z-index: 1;
padding: 6px 8px;
min-width: auto;
cursor: pointer;
border: 0;
}
.middle-cdr {
  position: relative;
  top: 15px;
}
.set-base-dir-btn {
  position: absolute;
  background: #284867;
  border-radius: 0;
  display: block;
  margin: 5px 10px 0 0;
  text-align: center;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0;
  padding: 9px 25px;
  height: 42px;
  color: #ffffff;
  cursor: pointer;
  bottom: 15px;
  width: 20%;
  right: 15px;
}
.mg-b-10{ 
  margin-bottom: 12px;
  margin-bottom: 12px;
  margin-top: -16px;
  left: -8px;}
.middle-cdr button:hover, .middle-cdr button:focus {
  background: #163452;
}
.cdr-left input {
  position: relative;
  background: #fff;
  border-radius: 0;
  display: inline-block;
  margin: 0 5px 10px 0;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0;
  padding: 7px 20px;
  height: 42px;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 0;
  min-width: 200px;
}
.threads-count {
  display: inline-block;
  position: relative;
  margin: 0px 0 0 10px;
  width: 48.5%;
}
input:focus-visible,
textarea:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
.threads-count label {
  margin-right: 5px;
}
.threads-count label {
  margin-right: 5px;
  font-size: 16px;
  color: #0c3451;
  font-weight: 500;
  display:inline-block;
}
.threads-count input.form-control {
  width: 86.5%;
  margin-right: 0;
}

input#setCloudIps {
  width: 50%;
  position:relative;
  top:2px;
}
.buttons-group {
  position: relative;
  margin: 0px 0 0 0px;
}
button.btn-grp {
  background: #ccc;
  border-radius: 0;
  margin: 0 5px 0 0;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  padding: 6px 30px;
  letter-spacing: .5px;
  border:1px solid #ccc;
}
.start-processing {
  border-radius: 0 !important;
  margin: 0 5px 0 0 !important;
  font-size: 15px !important;
  text-decoration: none !important;
  text-transform: none !important;
  color: #fff !important;
  padding: 8px 45px !important;
  letter-spacing: .5px !important;
  background: #fff !important;
  border: 1px solid #4aae4d !important;
  color: #4aae4d !important;
  cursor: pointer;
}
.start-processing:hover, .start-processing:focus {
  background: #4aae4d !important;
  color: #fff !important;
}
.stop-processing {
  border-radius: 0 !important;
  margin: 0 5px 0 0 !important;
  font-size: 15px !important;
  text-decoration: none !important;
  text-transform: none !important;
  color: #fff !important;
  padding: 8px 45px !important;
  letter-spacing: .5px !important;
  background: #fff !important;
  border: 1px solid #fd9700 !important;
  color: #fd9700 !important;
  cursor: pointer;
}
.stop-processing:hover, .stop-processing:focus {
  background: #fd9700 !important;
  color: #fff !important;
}
.load-files {
  border-radius: 0 !important;
  margin: 0 5px 0 0 !important;
  font-size: 15px !important;
  text-decoration: none !important;
  text-transform: none !important;
  color: #fff !important;
  padding: 8px 45px !important;
  letter-spacing: .5px !important;
  background: #fff!important;
  border: 1px solid #01bbd4 !important;
  color: #01bbd4 !important;
  cursor: pointer;
}
.load-files:hover, .load-files:focus {
  background: #01bbd4 !important;
  color: #fff !important;
}
.clear-data {
  border-radius: 0 !important;
  margin: 0 5px 0 0 !important;
  font-size: 15px !important;
  text-decoration: none !important;
  text-transform: none !important;
  color: #fff !important;
  padding: 8px 45px !important;
  letter-spacing: .5px !important;
  background: #fff!important;
  border: 1px solid #f24233 !important;
  color: #f24233 !important;
  cursor: pointer;
}
.clear-data:hover, .clear-data:focus {
  background: #f24233 !important;
  color: #fff !important;
}
.status-button {
  border-radius: 0 !important;
  margin: 0 5px 0 0 !important;
  font-size: 15px !important;
  text-decoration: none !important;
  text-transform: none !important;
  color: #fff !important;
  padding: 8px 45px !important;
  letter-spacing: .5px !important;
  background: #fff!important;
  border: 1px solid #333333 !important;
  color: #333333 !important;
  cursor: pointer;
}
.status-button:hover, .status-button:focus {
  background: #333333 !important;
  color: #fff !important;
}
.done-icon{
  width: 20px !important;
  margin: 0 3px 0 0;
}
.sdk-btn-grp{
  margin-bottom: 5px;
}
.cdr-left {
  width: 100%;
  position: relative;
}
.cdr-left h4 {
  margin: 0 0 5px 0;
  font-size: 17px;
  color: #0c3451;
  position: relative;
}
.cdr-right {
  float: right;
  width: 40%;
}
.cdr-output textarea.form-control {
  width: 100%;
  min-height: 112px;
  position: relative;
  background: #fff;
  border-radius: 0;
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 14px;
  text-transform: none;
  letter-spacing: 0;
  padding: 7px 20px;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 0;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
}

:-ms-input-placeholder {
  color: #cccccc;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
}

::placeholder {
  color: #cccccc;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
}
.clearfix {
  clear: both;
}
.iframe-container {
  position: relative;
  margin-top: 0px;
}
.iframe-container iframe {
  width: 100%;
  min-height: 500px;
  position: relative;
  border: 0;
}

/* --------processing section---------------*/
.output-result.cdr-output{
  margin-bottom: 10px;
  position: relative;
}
.output-result.cdr-output h4 {
  margin: 13px 0 7px 0;
  font-size: 17px;
  font-weight: 500;
  color: #0c3451;
  letter-spacing: .2px;
  position: relative;
}
#reloadOutput {
  position: absolute;
  right: 1px;
  top: 26px;
  cursor: pointer;
  z-index: 1;
  background: #edece8;
  padding: 6px 10px;
  border: 0;
  color: #fe3030;
  font-size: 21px;
}
.dropbox_scenario{
  width: 100% !important;
  display: inline-block;
  position: relative;
  background: #fff;
  border-radius: 0;
  margin: 0 5px 10px 0;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0;
  padding: 7px 20px;
  height: 42px;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 0;
  appearance: none;
  padding: 10px;
  padding-right: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.sdk-buttons {
  display: inline-block;
  margin-left: 0px;
  width: 100%;
  top: 8px;
  text-align: right;
}
.dropboxdiv {
  position: relative;
  display: inline-block;
  width: 68.5%;
}
.select-icon {
  position: absolute;
  top: 6px;
  right: 11px;
  width: 30px;
  height: 36px;
  pointer-events: none;
  transform: rotate(
90deg
);
  /* border: 2px solid #962d22; */
  padding-left: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.select-icon svg.icon {
  transition: fill 0.3s ease;
  fill: #ccc;
}
.icon {
  width: 1em;
  height: 1em;
}

.icon path,
.icon polygon,
.icon rect {
  fill: #a8acb0;
}

.icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/* --------alertbar section---------------*/
div#alertBar {
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 9999;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-dismissable, .alert-dismissible {
  padding-right: 35px;
  padding-left: 55px;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-dismissable .close, .alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
  float: right;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
border:0;
background:transparent;
cursor: pointer;
}
.alert-danger strong {
  display: inline-block;
  background: #f44336;
  padding: 14px 7px;
  position: absolute;
  top: -1px;
  left: 0px;
  border-radius: 3px 0px 0px 3px;
}

.alert-danger img {
  width: 30px;
  display: inline-block !important;
  vertical-align: middle;
  position: relative;
  margin: 0 !important;
}
p#errortext {
  position: relative;
  margin: -7px 0 -11px 0px !IMPORTANT;
  line-height: 19px;
}
.start-processing, .stop-processing, .load-files, .clear-data, .status-button {
  padding: 8px 30px !important;
  width: 50%;
}



/*alert Success*/
div#alertSuccess {
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 9999;
  min-width: 300px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success strong {
  display: inline-block;
  background: #3c763d;
  padding: 14px 7px;
  position: absolute;
  top: -1px;
  left: 0px;
  border-radius: 3px 0px 0px 3px;
}

.alert-success img {
  width: 30px;
  display: inline-block !important;
  vertical-align: middle;
  position: relative;
  margin: 0 !important;
}

p#successtext {
  position: relative;
  margin: -7px 0 -11px 0px !IMPORTANT;
  line-height: 19px;
}
/* loader */
.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #00bcd4;
  border-radius: 50%;
  width: 30px;
  display: inline-block;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: -13px 0 0 0;
  position: absolute;
  left: 10px;
  top: 19px;
  z-index: 11;
}
/* .loader.hide{display: none;} */
 .loader.show{display: block;}

 .setPluginIps {
  position: relative;
  display: inline-block;
  width: 20%;
}
.setPluginIps .stop-processing {
  width: 100%;
}


/** Loader 2*/
/* .loader_new::before {
  position: absolute;
  background: rgba(255,255,255,.8);
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
} */
.loader_new{
  position: 'absolute';
 transform: translateY(400px);
  justify-content: 'center';
  align-items: 'center';
  width: '100%';
  height: '100%';
  left: '0';
  top: '0';
  background: 'rgba(255,255,255,0.9)';
}
.loader_container {
    position: absolute;
    background: rgba(255,255,255,.8);
    content: "";
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    z-index: 9999;
}
.btn-loader-container {
  position: relative;
  width: 19.4%;
  display: inline-block;
  margin: 0 5px 0 0;
}
.btn-loader-container .start-processing, .btn-loader-container .stop-processing, .btn-loader-container .load-files, .btn-loader-container .clear-data, .btn-loader-container .status-button{width:100% !important; position:relative;}
.btn-loader-container .loader_container {
  position: absolute;
  background: transparent !important; 
  content: "";
  width: 36px !important;
  height: 36px !important;
  top: 3px;
  left: 0;
  z-index: 9999;
}
.btn-loader-container .loader_new{transform: none !important;}
.btn-loader-container img {
  margin: 0 !important;
  width: 36px;
  height: 36px;
}
.sdk-buttons .btn-loader-container {
  width: 20%;
}
.sdk-buttons .setPluginIps .btn-loader-container {
  width: 100% !important;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  button#reloadOutput img {
    margin: 0 !important;
    width: 21px;
    display: block;
    position: relative;
    top: 0px;
}
/* Model*/
.modal{
  position: fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.5);
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.modal-content {
  width:70%;
  background-color: #fff;
}
.modal-header, .modal-footer{
padding:15px;
position: relative;
}
.modal-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 21px;
}
.modal-body{
  padding: 10px;
    border-top: 1px solid #eee;
    height: 90vh;
    border-bottom: 1px solid #eee;
    overflow-y: scroll;
}
.modal-header button.button {
  position: absolute;
  right: -37px;
  top: 0;
  background: #00a5d4;
  border: 0;
  box-shadow: 0 0 0;
  font-size: 21px;
}
/*Modal end here*/
button#viewConfigButton {
  position: absolute;
  right: 20px;
  top: 70px;
  z-index: 1;
  padding: 0px 8px;
  background: transparent;
  color: #0784f0;
  font-weight: 300;
}
button#resetConfigButton {
  position: absolute;
  right: 140px;
  top: 70px;
  z-index: 1;
  padding: 0px 8px;
  background: transparent;
  color: #0784f0;
  font-weight: 300;
}

button#editPortButton {
  position: absolute;
  margin-left: 15px;
  display: inline-block;
  top: 0px;
  z-index: 1;
  font-size: 15px;
  padding: 0px 8px;
  background: transparent;
  color: #0784f0;
  font-weight: 300;
}
button#editPortButton i.fa.fa-edit {
  margin: 0 4px 0 0;
}
.action-buttons .start-processing, .action-buttons .stop-processing, .action-buttons .load-files, .action-buttons .clear-data, .action-buttons .status-button {
  padding: 8px 30px !important;
  width: 19.4%;
}
.middle-cdr-cont {
  width: 50%;
  display: inline-block;
}
button#refreshIframe {
  position: relative;
  right: -6px;
  width: 100%;
  top: 0;
  margin: -40px 0 -15px 0;
  text-align: right;
  z-index: 1;
  padding: 0px 8px;
  background: transparent;
  color: #0784f0;
  font-weight: 300;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#gw-table {
  text-align: center;
  border-collapse: collapse;
  border: 2px solid #ddd;
  width: 50%;
}

#gw-table td, #gw-table th {
  border: 1px solid #ddd;
  /* padding: 8px; */
}

#gw-table tr:nth-child(even){background-color: #f2f2f2;}

#gw-table tr:hover {background-color: #ddd;}

#gw-table th {
  /* padding-top: 12px;
  padding-bottom: 12px; */
  text-align: center;
  background-color: #61aeee;
  color: white;
}
.MuiPaper-root.MuiPaper-elevation1 {
  position: relative;
}
.react-json-view {
  margin-bottom: 15px;
}
.base-dir-radio-btn input[type="radio"] {
  margin-right: 0px;
  text-align: left;
  width: 30px;
  display: inline-block;
}



/*Responsive media query*/

@media only screen and (min-width:1281px) and (max-width:1499px) {
  .dropboxdiv {
    width: 67.5%;
}
.threads-count input.form-control {
  width: 81%;}
}

@media only screen and (min-width:1025px) and (max-width:1280px) {
.action-buttons .start-processing, .action-buttons .stop-processing, .action-buttons .load-files, .action-buttons .clear-data, .action-buttons .status-button {
  padding: 8px 8px !important;
  width: 19%;
}
.middle-cdr button{padding: 9px 10px;}
.dropboxdiv {
  width: 66.5%;
}
.threads-count input.form-control {
  width: 77.5%;}

}